###> app/bundle ###
!/public/uploads/.gitkeep
/public/uploads/contact_message_answer_attatchments/*
!/public/uploads/contact_message_answer_attatchments/.gitkeep
/public/uploads/disc/*
!/public/uploads/disc/.gitkeep
/public/uploads/documents/*
!/public/uploads/documents/.gitkeep
/public/uploads/images/*
!/public/uploads/images/.gitkeep
!.travis.yml
/src/.preload.php
.php_cs.cache
.php-cs-fixer.cache
.env
.env.dev
.env.test
###< app/bundle ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/config/reference.php
/public/bundles/
!.gitkeep
/var/cache/*
!/var/cache/.gitkeep
/var/log/*
!var/log/.gitkeep
/var/sessions/*
!var/sessions/.gitkeep
/var/testing-database.db
/var/dart-sass/
/var/sass/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
/.phpunit.cache/
###< symfony/phpunit-bridge ###

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###
###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###
