###> app/bundle ###
DEFAULT_LOCALE='ca'
DATABASE_SERVER_VERSION=5.7
PROJECT_WEB_TITLE='Project Web Title'
PROJECT_BASE_URL='www.project-base.com'
PROJECT_BACKEND_TITLE='Project Title'
GOOGLE_ANALYTICS_IS_ENABLED=false
GOOGLE_ANALYTICS_ACCOUNT='UA-XXXXXXXX-Y'
GOOGLE_MAPS_API_KEY='???'
MAILCHIMP_API_KEY='???'
MAILCHIMP_LIST_ID='???'
FACEBOOK_PIXEL_ENABLED=false
FACEBOOK_PIXEL_ID='XXX'
BOSS_NAME='BOSS_NAME'
BOSS_DNI='BOSS_DNI'
BOSS_PHONE_NUMBER_1='555 555 555'
BOSS_PHONE_NUMBER_2='555 555 555'
BOSS_ADDRESS='BOSS_ADDRESS'
BOSS_CITY='BOSS_CITY'
IBAN_BUSINESS='IBAN_BUSINESS'
BIC_NUMBER='BIC_NUMBER'
MAILER_DESTINATION='developer@email.com'
DEV_DELIVERY_ADDRESS='developer@email.com'
PROJECT_EXPORT_FILENAME_BASE='PROJECT_EXPORT_FILENAME_BASE'
PROJECT_DISCOUT_PER_EXTRA_SON=5
GOOGLE_TAG_MANAGER_IS_ENABLED=false
GOOGLE_TAG_MANAGER_ACCOUNT='GTM-???'
GOOGLE_CALENDAR_API_KEY='???'
FACEBOOK_API_KEY='XXX'
FACEBOOK_API_SECRET='???'
ADMIN_LOGO='/build/img/login-logo.png'
ADMIN_COLOR='#EFEFEF'
ADMIN_IS_STAGE=true
MAILING_PER_DAY_LIMIT=500
###< app/bundle ###

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=d6fab4626d896ff2b08d71a9faa2524f
#TRUSTED_PROXIES=127.0.0.0/8,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
#TRUSTED_HOSTS='^(localhost|example\.com)$'
###< symfony/framework-bundle ###

###> symfony/mailer ###
MAILER_DSN=null://null
MAILING_MAILER_DSN=null://null
###< symfony/mailer ###

###> doctrine/doctrine-bundle ###
DATABASE_URL=mysql://user:password@127.0.0.1:3306/database?serverVersion=5.7
###< doctrine/doctrine-bundle ###

###> excelwebzone/recaptcha-bundle ###
EWZ_RECAPTCHA_SITE_KEY=???
EWZ_RECAPTCHA_SECRET=???
###< excelwebzone/recaptcha-bundle ###

###> symfony/messenger ###
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
###< symfony/messenger ###
